site_name: SIUE Solar Car Team Wiki
repo_url: https://github.com/SIUESolarCar/SIUESolar_Wiki
repo_name: SIUESolarCar/SIUESolar_Wiki
plugins:
  - search
  - excalidraw
  - glightbox
markdown_extensions:
  - admonition
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.path
    - navigation.sections
    - navigation.top
    - navigation.expand
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  logo: assets/logo.png
  font:
    text: Arimo Regular 400
extra_css:
  - stylesheets/extra.css
extra:
  generator: false
copyright: Copyright &copy; 2026 SIUE Solar Car Team